#		Compile tools		#
#########################################
*.o
Makefile
Morkidios/bin/libMorkidios.a
LeDernierMorkid/bin/LeDernierMorkid
LeDernierMorkid/bin/Map.bmp

#		Run Files		#
#########################################
*.log