#		Compile tools		#
#########################################
*.o
Makefile
Morkidios/bin/libMorkidios.a
LeDernierMorkid/bin/LeDernierMorkid

#		Run Files		#
#########################################
*.log