#		Compile tools		#
#########################################
*.o
Makefile
Morkidios/bin/libMorkidios.a
LeDernierMorkid/bin/LeDernierMorkid
Updater/bin/Updater

#		Run Files		#
#########################################
bin/
*.log
LeDernierMorkid/bin/Map.bmp
LeDernierMorkid/bin/ogre.cfg

#	Development tools		#
#########################################
TODO
*.xmi
LeDernierMorkid/package